<h1>New Petition</h1>


<%= form_for @petition, url: petitions_path do |f| %>
  <p>
    <%= f.label 'Petition name' %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label 'Description' %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>